@model Product
<div class="card shadow boarder-0  mt4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Product</h2>
            </div>
        </div>
    </div>

<form method="post">
    @*<input asp-for="Id" hidden />*@       @*because the name is "Id" primary key, so this line of code doesnot needed*@
    <div class="border p-3 mt-4">

        <div class="mb-3 row">
            <label asp-for="Title">Product Name</label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="Description">Description</label>
            <textarea asp-for="Description" class="form-control"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="UPCode">UPC</label>
            <input asp-for="UPCode" class="form-control" />
            <span asp-validation-for="UPCode" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="Category">Category</label>
            <input asp-for="Category" class="form-control" />
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="ListPrice">List Price</label>
            <input asp-for="ListPrice" class="form-control" />
            <span asp-validation-for="ListPrice" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="Price">Price</label>
            <input asp-for="Price" class="form-control" />
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="Price50">Price50</label>
            <input asp-for="Price50" class="form-control" />
            <span asp-validation-for="Price50" class="text-danger"></span>
        </div>
        <div class="mb-3 row">
            <label asp-for="Price100">Price100</label>
            <input asp-for="Price100" class="form-control" />
            <span asp-validation-for="Price100" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
            <div class="col-6">
                <a asp-controller="Product" asp-action="Index" class="btn btn-secondary border form-control">Back to List</a>
            </div>
        </div>
    </div>
    <div asp-validation-summary="All"></div>
    @*<div asp-validation-summary="ModelOnly">Creation Failed: </div>*@

</form>
</div>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
            }